/* CSS Document */
body{
		padding:0px; 
		margin:10px 0 0; 
		background:#F7F9FA; 
		color:#ffffff; font:12px/14px Arial, Helvetica, sans-serif;
		}
div, p, ul, h2, h3, h4, h5, form, img{
		padding:0px; 
		margin:0px;
		}
ul{
		list-style-type:none;
		}

/*----TOP PANEL----*/
#topPan{
		width:900px; 
		height:152px; 
		position:relative;
		margin:0 auto; 
		background:url(../images/toppan.jpg) 0 0 repeat-x black;
	background-color:#fff;
border-radius:5px;

		}
#topPan img.logo{
		width:460px; 
		height:75px; 
		position:absolute; 
		top:10px; 
		left:15px;
		}
#topPan ul{
		width:486px; 
		height:30px;
		position:absolute; 
		top:110px; 
		left:146px;
		 }
#topPan ul li{
		 width:81px;
		 height:30px;
		 float:left;
		 }
#topPan ul li a{
		width:81px; 
		height:30px; 
		display:block; 
		background:url(../images/menu-bg.gif) 0 0 repeat-x #2F0000; 
		color:#fff; font:12px/30px "Trebuchet MS", Arial, Helvetica, sans-serif; 
		font-weight:bold; 
		text-align:center; 
		text-decoration:none;
		}
#topPan ul li a:hover{
		background:#ffffff; 
		color:#2A839C; 
		text-decoration:none;
		}
#topPan ul li.home{
		width:81px; 
		height:30px; 
		display:block; 
		background:#590000; 
		color:#fff;
		font:12px/30px "Trebuchet MS", Arial, Helvetica, sans-serif; 
		font-weight:bold; 
		text-align:center; 
		text-decoration:none;
		}
#topimagePan{
padding:0px 0px 0px 0px;
width:210px; height:20px; position:absolute; top:0px; right:0px; background:url(../images/.jpg) 0 0 no-repeat;}
/*-----------------------TOP PANEL-------------------------------*/

/*-----------------------------------BODY PANEL------------------------------------------*/
#bodyPan{
		width:900px; 
		position:relative; 
		margin:0 auto; 
		}
/*-----------------------Left Panel------------------------------*/
#leftPan{
		width:630px; 
		float:left; 
		background:#F7F9FA; 
		color:black; 
		padding:25px 60px 0 0;
		}
#leftPan p{padding:14px 0 0;}

#leftPan h2{
		width:220px; 
		height:26px; 
		background:#590000; 
		color:#fff; 
		font:26px/26px Georgia, "Times New Roman", Times, serif;
		}
#leftPan h2 span{
		background:#590000; 
		color:#F10000;
		}
/*---------------------- Right Panel--------------------------*/
#rightPan{
		width:209px; 
		float:left; 
		padding:18px 0 0;
		}
#rightPan form.form1{
		width:209px; 
		height:150px; 
		background:url(../images/button1.png) 0 0 no-repeat #2A839C; 
		color:#fff; 
		font-size:12px; 
		}
#rightPan form.form1 h2{
		width:189px; 
		height:36px; 
		background:url(images/button1.png) 0 0 no-repeat; 
		padding:0 0 0 20px; font:20px/36px Georgia, "Times New Roman", Times, serif; 
		margin:0 0 8px 0;
		}

#rightPan form.form1 label{
		width:66px; 
		height:18px; 
		float:left; 
		display:block; 
		font-size:13px; 
		line-height:18px; 
		padding:0 0 0 21px; 
		margin:9px 0 0;
		}
#rightPan form.form1 label.label1{
		width:138px; 
		height:16px; 
		float:left; 
		display:block; 
		background:#2A839C; 
		color:#FC0404; 
		font-size:10px; 
		text-transform:uppercase; 
		margin:9px 0 0 2px; 
		padding:0 0 0 19px;
		}

#rightPan form.form1 input{
		width:100px; 
		height:18px; 
		float:left; 
		display:block; 
		padding:0px; 
		margin:9px 0 0;
		}
#rightPan form.form1 input.botton{
		width:40px; 
		height:14px; 
		float:left; 
		display:block; 
		background:url(../images/botton.gif) 100% 3px no-repeat #47A5BF; 
		color:#fff; 
		font-size:12px; 
		border:none; 
		padding:0 10px 0 0; 
		margin:9px 0px 0 0px; 
		line-height:14px; 
		}

#rightPan h3{
		width:188px; 
		height:33px; 
		background:#47A5BF; 
		color:#fff; 
		font:17px Georgia, "Times New Roman", Times, serif; 
		padding:18px 0 0 21px; 
		margin:13px 0 0;
		}

#rightPan ul{
		width:188px; 
		height:auto; 
		padding:0 0 20px 21px; 
		background:#47A5BF; 
		color:#fff; 
		margin:0 0 13px 0;
		}
#rightPan ul li{
		width:141px; 
		height:18px;
		}
#rightPan ul li a{
		width:141px; 
		height:18px; 
		background:url(../images/arrow3.gif) 0 5px no-repeat #47A5BF; 
		color:#fff; 
		font-size:12px; 
		text-decoration:none; 
		line-height:18px; 
		padding:0 0 0 15px;
		}
#rightPan ul li a:hover{
		width:141px; 
		height:18px; 
		background:url(../images/arrow4.gif) 0 5px no-repeat #3C0101; 
		color:#FFD6D6; 
		text-decoration:none;
		} 
#rightform2Pan{width:209px; position:relative; margin:0 auto;}
#rightPan form.form2{
		width:209px; 
		height:111px; 
		background:#2A839C; 
		color:#fff; 
		font-size:12px; 
		}
#rightPan form.form2 h2{
		width:189px; 
		height:36px; 
		background:url(../images/button1.png) 0 0 no-repeat; 
		padding:0 0 0 20px; font:20px/36px Georgia, "Times New Roman", Times, serif; 
		margin:0 0 8px 0;
		}
#rightPan form.form2 label{
		width:0px; 
		height:18px; 
		float:left; 
		display:block; 
		font-size:12px; 
		padding:0 0 0 15px; 
		line-height:18px;
		}
#rightPan form.form2 input{
		width:170px; 
		height:18px; 
		float:left; 
		display:block; 
		padding:0px;
		}
#rightPan form.form2 input.search{
		width:60px; 
		height:20px; 
		float:right; 
		display:block; 
		background:url(../images/botton2.gif) 100% 6px no-repeat #47A5BF; 
		border:none; 
		color:#fff; 
		font-size:12px; 
		line-height:20px; 
		padding:0 25px 0 0; 
		position:absolute; 
		top:78px; 
		right:8px;
		} 
/*--------------------------/BODY PANEL----------------------------------*/

/*-------------------------------------BOTTOM BODY PANEL----------------------------------------------*/
#bodyBottomPan{
		width:900px; 
		height:0px; 
		background:url(../images/.gif) 0 0 repeat-x #F7F9FA; 
		color:#CD7A7A; 
		position:relative; 
		margin:0 auto; 
		clear:both; 
		padding:25px 0 0;
		}
/*-------------------------BOTTOM BODY PANEL-----------------------------*/
/*---------------------------FOOTER PANEL--------------------------------*/

#footerPan{
		width:900px; 
		height:33px; 
		background:#3389A1; 
		color:#fff; 
		position:relative; 
		margin:0 auto; 
		font:12px/16px "Trebuchet MS", Arial, Helvetica, sans-serif; 
		clear:both; 
		padding:10px 0 10px;
		}
#footerPan ul{
		width:400px; 
		position:relative; 
		margin:0 auto;
		}
#footerPan li{float:left; }
#footerPan ul li a{
		padding:0 5px 0; 
		color:#fff; 
		background:#2F0000;
		text-decoration:none;
		 }
#footerPan ul li a:hover{text-decoration:underline;}

/*---------------------------TABEL--------------------------------*/
#tablemn {width:100%; background-color: #f5f5f5; padding: 7px; border-radius: 5px; border-radius: 5px; border: 2px solid #ebebeb;color:#000000;}
#tablemn td, #tablemn th {padding: 1px 5px;}
#tablemn thead {font: normal 13px Helvetica Neue,Helvetica,sans-serif; text-shadow: 0px 1px 0 white; color: #000000;}
#tablemn th {text-align:left; border-bottom: 3px solid #fff;}
#tablemn td {font-size: 12px;}
#tablemn tr:hover {background-color: #fff;}